@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #01080e;
  --border-color: #0d6271;
  --primary-white: #ffffff;

  --secondary-border-color: #012640;
  --secondary-background-color: #2bfdbe;
  --secundary-text-color: #56aad1;

  --secoundary-background-color: #031326;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

header {
  padding: 25px;
  border-bottom: 1px solid var(--border-color);
}

iframe {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

iframe:hover {
  border-color: var(--secondary-background-color);
  box-shadow: 0 0 0 2px var(--secondary-background-color);
}

main {
  margin-bottom: 2.2rem;
}

.destaque_home_iframe {
  width: 560px;
  height: 315px;
  transition: width 0.5s ease;
}

.destaque_home_iframe:hover {
  width: 60%;
  height: 400px;
}

.header_content {
  color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.header_content > a {
  text-decoration: none;
  color: inherit;
}

.header_content > a > p {
  font-size: 1.3rem;
  cursor: pointer;

  font-family: "Anton", sans-serif;
}

.header_content > a:hover {
  color: var(--secondary-background-color);
}

.main_video {
  background-image: url("https://img.youtube.com/vi/g4Z7CWVazCk/maxresdefault.jpg");
  position: relative;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-white);

  overflow: hidden;
}

.main_video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main_video_content {
  position: relative;

  z-index: 2;

  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.main_video_info {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 1rem;
}

.main_video_info > h1 {
  font-size: 2.3rem;
}

.videos_more {
  display: flex;
  align-items: start;
  flex-direction: column;

  padding-top: 3rem;

  width: 100%;
  max-width: 1600px;

  margin: auto;
}

.videos_more > h1 {
  color: black;

  background-color: var(--secondary-background-color);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  border-radius: 0.7rem;
}

.videos_list {
  display: flex;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  padding-bottom: 0.2rem;

  padding-top: 1rem;
}

.videos_list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.videos_list::-webkit-scrollbar-track {
  background: #01080e;
}

.videos_list::-webkit-scrollbar-thumb {
  background-color: var(--secondary-border-color);
  border-radius: 3px;
}

.videos_list iframe {
  flex: 0 0 auto;

  width: 560px;
  height: 315px;

  margin-right: 16px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;

  color: var(--primary-white);
}

footer > span > a {
  text-decoration: none;

  color: var(--primary-white);
}

.carreira_more {
  display: flex;
  align-items: start;
  flex-direction: column;

  padding-top: 3rem;

  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.carreira_more > h1 {
  color: var(--secundary-text-color);
  background-color: #021017;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  border-radius: 0.7rem;
}

.carreira_list {
  display: flex;

  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  padding-top: 1rem;

  padding-bottom: 0.2rem;
}

.carreira_list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.carreira_list::-webkit-scrollbar-track {
  background: var(--background-color);
}

.carreira_list::-webkit-scrollbar-thumb {
  background-color: var(--secondary-border-color);
  border-radius: 3px;
}

.carreira_list iframe {
  flex: 0 0 auto;
  width: 560px;
  height: 315px;
  margin-right: 16px;
}

.descontracao {
  background-color: var(--primary-white);
}

@media (max-width: 1600px) {
  .main_video_content,
  .header_content,
  .videos_more,
  .carreira_more {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 765px) {
 .main_video_content {
    flex-direction: column-reverse;
 }
 .main_video {
  height: 100vh;
 }
}
